{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block additional_styles %}
<style>
    body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
        background-image: url('backgroundFOB.webp');
        background-size: cover;
        background-position: center;
        color: #ffffff;
    }
    .container {
        background-color: #2e2e2e;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        text-align: center;
        align-self: center;
        width: 80%;
        max-width: 500px;
        border: 1px solid #3a3a3a;
    }
    .message-box {
        background-color: #3a3a3a;
        border-left: 4px solid #bb86fc;
        padding: 10px;
        margin: 10px auto;
        text-align: left;
        box-sizing: border-box;
        width: calc(100% - 40px);
        color: #e0e0e0;
    }
    input[type="text"], input[type="submit"], textarea {
        margin: 10px 0;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #444;
        background-color: #333;
        color: #ddd;
        width: calc(100% - 20px);
    }
    input[type="submit"], button {
        margin: 10px 0;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #444;
        background-color: #bb86fc;
        color: #fff;
        width: calc(100% - 20px);
        cursor: pointer;
    }
    input[type="submit"]:hover, button:hover {
        background-color: #9e55fc;
    }
    textarea {
        resize: vertical;
        font-family: Arial, sans-serif;
        font-size: 1rem;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <form action="getIntroduction" method="post">
        {% for message in get_flashed_messages() %}
        <div class="message-box">
            {{ message|replace('\n', '</p><p>')|safe }}
        </div>
        {% endfor %}
        <br>
        <input type="text" name="user_input" id="user_input" >
        <input type="submit" value="SEND" id="send">
    </form>
    <button onclick="redirectToConversation()">Create Conversation</button>
</div>
{% endblock %}

{% block additional_scripts %}
<script>
    function redirectToConversation() {
        var baseUrl;
        var hostname = window.location.hostname;

        if (hostname === "localhost" || hostname === "127.0.0.1") {
            baseUrl = "http://localhost:8081";
        } else {
            baseUrl = "toBeImplemented";
        }

        window.location.href = baseUrl;
    }
</script>
{% endblock %}


