<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Viewport meta tag -->
    <link rel="stylesheet" type="text/css" href="base.css">
    <title>Describe Experience</title>
    <style>
    </style>
</head>
<body>
<div class="container">
    <form action="simulateUserExperience" method="post">
        {% for message in get_flashed_messages() %}
        <div class="message-box">
            {{ message|replace('\n', '</p><p>')|safe }}
        </div>
        {% endfor %}
        <br>
        <textarea name="user_input" id="user_input" rows="4" cols="50"></textarea>
        <input type="submit" value="SEND" id="send">
    </form>
</div>
</body>
</html>
