<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>FaB Story Generator</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    />
    <style>
        body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body class="text-center">
<header style="height: 5vh">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand px-5" href="http://localhost:8080/">FaB Story Generator</a>
        <ul class="navbar-nav mr-auto justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="http://localhost:8080/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/scrapeWorld"
                >World Scraper</a
                >
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/scrapeHeroes"
                >Hero Scraper</a
                >
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/scrapeStories"
                >Story Scraper</a
                >
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8081/prepareStory"
                >Story Generator</a
                >
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8081/allStories"
                >All Stories</a
                >
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8081/unfinishedHeroes"
                >Personality Generator</a
                >
            </li>
        </ul>
    </nav>
</header>
<div
        class="d-flex my-auto justify-content-center align-items-center"
        style="
        width: 100vw;
        height: 95vh;
        background-image: url(https://dhhim4ltzu1pj.cloudfront.net/media/images/map_of_rathe_extended_v1.width-10000.format-webp.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      "
>
    <main role="main">
        <div
                class="card bg-dark text-white"
                style="
            margin: 10% 20%;
            border-radius: 20%;
            box-shadow: inset 2px 2px 1px 1px rgb(0, 0, 0, 0.2);
          "
        >
            <div class="card-body">
                <h1
                        class="cover-heading"
                >
                    Welcome to the FaB Story Generator
                </h1>
                <p class="lead">Select an option from the menu to get started.</p>
                <a href="#" class="btn btn-secondary shadow-lg">Explore</a>
            </div>
        </div>
    </main>
</div>
</body>
</html>
