<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error for generated answer</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    />
</head>
<body>
<header style="height: 5vh">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand px-5" href="http://localhost:8080/">FaB Simulated Universe</a>
        <ul class="navbar-nav mr-auto justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/scrapeWorld">Scrape World</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/scrapeHeroes">Scrape Heroes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/scrapeStories">Scrape Stories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8081/prepareStory">Story Generator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8081/allStories">All Stories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8081/unfinishedHeroes">Personality Generator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="http://localhost:8081/faq">FAQ</a>
            </li>
        </ul>
    </nav>
</header>
<div
        class="d-flex my-auto justify-content-center align-items-center"
        style="
        width: 100vw;
        height: 95vh;
        background-image: url(https://dhhim4ltzu1pj.cloudfront.net/media/images/toa_art_01.width-10000.format-webp.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;"
>
    <main role="main">
        <div
                class="card bg-dark text-white text-center"
                style="
            border-radius: 10%;
            box-shadow: inset 2px 2px 1px 1px rgb(0, 0, 0, 0.2);
            max-width: 80vw;
            max-height: 80vh;
            position: relative;
            padding: 5% 20%;
            min-width: 30vw;
          "
        >
            <div
                    class="card-body p-0 m-0"
                    style="
          overflow-y: auto;
          scrollbar-width: none;
          width: 100%;
          height: 80%;
        "
            >
                <h1>Error</h1>
                {% if error %}
                <p>{{ error|safe }}</p>
                {% else %}
                <p>No error provied</p>
                {% endif %}
                <button type="button" class="btn btn-secondary shadow-lg">
                    <a href="/faq" class="text-white">Ask another question</a>
                </button>
            </div>
        </div>
    </main>
</div>
</body>
</html>

